.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.leftboxbackground{
    background-color: lightyellow;
}

.rightboxbackground {
    background-color: lightgrey;
}