@media only screen and (min-device-width: 1000px) {

<<<<<<< Updated upstream
.buttons {
    width: 75vw;
    margin-top: 5%;
    background-color: #512888;
}
=======
    #boxes {
        display:grid;
        border-top: 1px solid grey;
        justify-items: center;
        grid-template-columns: 100%;
        max-width: 1000px;
        margin-left: 25%;
        margin-right: 25%;
    }
>>>>>>> Stashed changes

    .buttons {
        width: 75vw;
        margin-top: 5%;
        background-color: #512888;
        padding-top: 15px;
        padding-bottom: 35px;
        max-width: 75%;
    }

    .lastButton {
        margin-bottom: 5%;
    }

    .divide {
        font-size: large;
        text-align: center;
        margin-bottom: 0;
        font-weight: 600;
        background-color: #F8F8F8;
        opacity: 80%;
        margin-left: 25%;
        margin-right: 25%;
        max-width: 1000px;
    }

    .divideBottom {
        height: 46px;
        max-width: 1000px;
    }

    p {
        margin-bottom: 0;
    }

    .header {
        text-align: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
        max-width: 1000px;
    }
}

@media only screen and (max-device-width: 999px) {
    #boxes {
        display:grid;
        border-top: 1px solid grey;
        justify-items: center;
        grid-template-columns: 100%;
        max-width: 1000px;
    }
    
    .buttons {
        width: 75vw;
        margin-top: 5%;
        background-color: #512888;
        padding-top: 15px;
        padding-bottom: 35px;
        max-width: 75%;
    }
    
    .lastButton {
        margin-bottom: 5%;
    }
    
    .divide {
        font-size: large;
        text-align: center;
        margin-bottom: 0;
        font-weight: 600;
        background-color: #F8F8F8;
        opacity: 80%;
        max-width: 1000px;
    }
    
    .divideBottom {
        height: 46px;
        max-width: 1000px;
    }
    
    p {
        margin-bottom: 0;
    }
    
    .header {
        text-align: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
        max-width: 1000px;
    }
}