#boxes {
    display:grid;
    border-top: 1px solid grey;
    justify-items: center;
    grid-template-columns: 100%;
}

#stars {
    float: right;
}

.buttons {
    width: 75vw;
    align-content: space-evenly;
    margin-top: 5%;
    background-color: #7137bd;
    padding-top: 15px;
    padding-bottom: 35px;
}

.lastButton {
    margin-bottom: 5%;
}

.divide {
    font-size: large;
    align-content: space-evenly;
    text-align: center;
    margin-bottom: 0;
    font-weight: 600;
    background-color: solid gray;
    opacity: 80%
}


.divideBottom {
    height: 10vh;
}

p {
    margin-bottom: 0;
}

.header {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

a {
    color: white;
}

a:hover {
    color: black;
}
