.kdaLogo {
    width: 100%;
    max-width: 415px;
}

.signUp {
    margin: 12px;
}

.navbarGradient{
    border-top: 1px solid gray;
    background-color: white;
    margin-bottom: auto;
    width: 100%;
}

.linkText{
    text-decoration:none;
    margin: 1em;
}