.expand {
    transform: 'rotate(0deg)';
}

.expandOpen {
    transform: 'rotate(180deg)'
}

.updateCard {
    width: 100%;
}

.updateTitle { 
    background-image: linear-gradient(#4f2684,#7137bd);
}